

/* MAIN LAYOUT */
.main {
    display: flex;
    height: 97vh;
}

/* LEFT SIDE */
.left {
    flex: 1;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    padding: 60px;
}

.left h1 {
    font-size: 40px;
    margin: 0;
}

.left h2 {
    margin-top: 5px;
}

.address {
    margin-bottom: 30px;
    font-size: 14px;
}

.left h3 {
    margin-top: 40px;
}

.left ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.left ul li {
    margin: 10px 0;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    background: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN BOX */
.loginBox {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.loginBox h2 {
    text-align: center;
}

/* INPUT */
.loginBox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* BUTTON */
.loginBox button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginBox button:hover {
    background: #00c6ff;
}

/* ERROR */
#loginError {
    color: red;
    text-align: center;
}





.cards {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.cards div {
    background: #4facfe;
    color: white;
    padding: 15px;
    border-radius: 8px;
}






/* CONTAINER */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #34495e;
}

/* MAIN CONTENT */
.mainContent {
    flex: 1;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background: #ecf0f1;
    position: relative;
}

/* PROFILE */
.profile {
    margin-left: 20px;
    cursor: pointer;
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #ccc;
}

.dropdown p {
    padding: 10px;
}

/* NOTIFICATION */
.notification {
    display: none;
    position: absolute;
    right: 100px;
    top: 60px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
}

/* PAGES */
.page {
    display: none;
    padding: 20px;
}

#home {
    display: block;
}

